.widget {
  margin: 0;
  padding: 0;
  width: 977px;
  border: 1px solid rgba(#000, .2);
  border-radius: 10px;
  box-shadow: 0 5px 8px rgba(#000, .1);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, sans-serif;

  hr,
  div,
  pre,
  select,
  input,
  label,
  button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
  }

  select {
    cursor: pointer;

    &:focus:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #000;
    }

    &::-ms-expand {
      display: none;
    }

    & option {
      font-weight: normal;
    }
  }

  input {
    &:focus {
      border: 0;
      outline: 0;
      box-shadow: none;
    }
  }

  hr {
    width: 100%;
    height: 1px;
    background-image: url('./assets/svg/dash.svg');
    background-position: bottom left;
    background-repeat: repeat-x;
    background-size: 12px 1px;
    border: 0;
    outline: 0;
  }

  label {
    user-select: none;
  }

  button {
    cursor: pointer;
    transition: transform .1s;

    &:active {
      transform: translate(.5px, .5px);
    }
  }

  .pre-input {
    padding: 0 4px;
    position: absolute;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: .99px;
    word-spacing: .4px;
  }

  .sample {
    margin: 19px 19px 24px;

    &__select {
      padding-left: 9px;
      min-width: 152px;
      height: 28px;
      background-color: #fff;
      background-image: url('./assets/svg/drop-select.svg');
      background-repeat: no-repeat;
      background-position: right 10px top 7px;
      background-size: auto, 100%;
      border: 1px solid rgba(#000, .15);
      border-radius: 4px;
      outline: 0;
      box-shadow: none;
      color: #000;
      font-family: inherit;
      font-size: 13px;
      font-weight: 500;
      line-height: 16px;
      letter-spacing: .06px;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;

      &:hover {
        border-color: rgba(#000, .3);
      }

      &:focus {
        border-color: rgba(#000, .5);
      }
    }

    &__text {
      margin-top: 11px;
      margin-left: 5px;
      display: none;
      min-height: 72px;
      font-size: 22px;
      font-weight: 300;
      line-height: 36px;
      letter-spacing: .99px;
      word-spacing: .4px;
    }

    &__input {
      margin-left: 2px;
      margin-right: 3px;
      padding: 0 3px;
      display: inline;
      min-width: 7px;
      max-width: 100%;
      height: 36px;
      border: 0;
      border-radius: 2px;
      background-color: rgba(#DE2898, .10);
      color: #DE2898;
      caret-color: #DE2898;
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
      letter-spacing: inherit;
      word-spacing: inherit;

      &::-ms-clear {
        display: none;
      }

      &::selection {
        background-color: rgba(#00D4FF, .35);
      }
    }

    &_man-1 .sample__text_man-1,
    &_man-2 .sample__text_man-2,
    &_man-3 .sample__text_man-3,
    &_woman-1 .sample__text_woman-1,
    &_woman-2 .sample__text_woman-2,
    &_woman-3 .sample__text_woman-3,
    &_modified + hr + .speak > .speak__label_modified,
    &_default + hr + .speak > .speak__label_default {
      display: block;
    }
  }

  .speak {
    padding: 20px 19px;
    display: flex;
    justify-content: flex-end;

    &__label {
      margin-top: 4px;
      display: none;
      position: relative;
      font-size: 17px;
      line-height: 36px;
      letter-spacing: .4px;
      word-spacing: .1px;
      color: rgba(#000, .4);

      &_default {
        margin-right: 23px;
        font-weight: 200;
      }

      &_modified {
        margin-right: 13px;
        font-weight: 500;
        cursor: pointer;

        &:before {
          content: '';
          position: relative;
          padding-right: 61px;
          width: 30px;
          height: 30px;
          background-image: url('./assets/svg/wrap.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: auto;
        }
      }
    }

    &__button {
      width: 137px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #DE2898;
      border: 0;
      border-radius: 4px;
      outline: 0;

      &:before {
        content: '';
        position: relative;
        display: block;
        width: 30px;
        height: 30px;
        background-image: url('./assets/svg/play.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
      }

      &:after {
        content: attr(data-value);
        margin-left: 4px;
        margin-right: 11px;
        position: relative;
        display: block;
        font-size: 17px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: -.25px;
        color: #fff;
      }
    }
  }

  &_generating {
    .speak__button:before {
      background-image: url('./assets/svg/generating.svg');
    }

    .speak__button:after {
      display: none;
    }
  }

  &_playing {
    .speak__button:before {
      background-image: url('./assets/svg/playing.svg');
    }

    .speak__button:after {
      display: none;
    }
  }
}