:root {
  --accent: 222, 40, 152;
  --selection: 0, 213, 255;
}

.widget {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 977px;
  box-sizing: border-box;
  border: 1px solid rgba(#000, .2);
  border-radius: 10px;
  box-shadow: 0 5px 8px rgba(#000, .1);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, sans-serif;

  p,
  hr,
  div,
  pre,
  select,
  input,
  label,
  button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    text-decoration: none;
  }

  select {
    cursor: pointer;

    &:focus:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #000;
    }

    &::-ms-expand {
      display: none;
    }

    & option {
      font-weight: normal;
    }
  }

  input {
    &:focus {
      border: 0;
      outline: 0;
      box-shadow: none;
    }
  }

  hr {
    width: 100%;
    height: 1px;
    background-image: url('./assets/svg/dash.svg');
    background-position: bottom left;
    background-repeat: repeat-x;
    background-size: 12px 1px;
    border: 0;
    outline: 0;
  }

  label {
    user-select: none;
  }

  button {
    background: none;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: transform .1s;

    &:active {
      transform: translate(.5px, .5px);
    }
  }

  .pre-input {
    padding: 0 4px;
    position: absolute;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: .99px;
    word-spacing: .4px;
  }

  .sample {
    margin: 19px 19px 24px;

    &__select {
      padding-left: 5px;
      padding-right: 22px;
      min-width: 152px;
      height: 28px;
      background-color: #fff;
      background-image: url('./assets/svg/drop-select.svg');
      background-repeat: no-repeat;
      background-position: right 10px center;
      background-size: auto, 100%;
      border: 1px solid rgba(#000, .15);
      border-radius: 4px;
      outline: 0;
      box-shadow: none;
      color: #000;
      font-family: inherit;
      font-size: 13px;
      font-weight: 500;
      line-height: 16px;
      letter-spacing: .06px;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;

      &:hover {
        border-color: rgba(#000, .3);
      }

      &:focus {
        border-color: rgba(#000, .5);
      }
    }

    &__text {
      margin-top: 11px;
      margin-left: 5px;
      display: none;
      min-height: 72px;
      font-size: 22px;
      font-weight: 300;
      line-height: 36px;
      letter-spacing: .99px;
      word-spacing: .4px;
    }

    &__input {
      margin-left: 2px;
      margin-right: 3px;
      padding: 0 3px;
      display: inline;
      min-width: 7px;
      max-width: 100%;
      height: 36px;
      border: 0;
      border-radius: 2px;
      background-color: rgba(#DE2898, .10);
      color: #DE2898;
      caret-color: #DE2898;
      background-color: RGBA(var(--accent), .10);
      color: RGB(var(--accent));
      caret-color: RGB(var(--accent));
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
      letter-spacing: inherit;
      word-spacing: inherit;

      &::-ms-clear {
        display: none;
      }

      &::selection {
        background-color: rgba(#00D4FF, .35);
        background-color: rgba(var(--selection), .35);
      }
    }
  }

  .speak {
    padding: 20px 19px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

    &__label {
      margin-top: 4px;
      margin-right: 24px;
      position: relative;
      max-width: 100%;
      display: flex;
      justify-content: flex-end;
      font-size: 17px;
      line-height: 36px;
      letter-spacing: .4px;
      word-spacing: .1px;
      color: rgba(#000, .4);
    }

    &__text {
      font-weight: 200;
    }

    &__button {
      display: flex;
      align-items: center;

      &:before {
        content: '';
        position: relative;
        display: block;
        width: 30px;
        height: 30px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
      }

      &:after {
        content: attr(data-value);
        margin-left: 4px;
        margin-right: 11px;
        position: relative;
        display: block;
        font-size: 17px;
        line-height: 36px;
      }

      &_play {
        width: 137px;
        height: 48px;
        justify-content: center;
        background-color: #DE2898;
        background-color: RGB(var(--accent));
        border-radius: 4px;

        &:before {
          background-image: url('./assets/svg/play.svg');
        }

        &:after {
          color: #fff;
          font-weight: 600;
          letter-spacing: -.25px;
        }
      }

      &_restore {
        position: absolute;
        top: 0;
        right: -21px;
        width: 185px;
        height: 36px;
        justify-content: space-between;

        &:before {
          background-image: url('./assets/svg/wrap.svg');
        }

        &:after {
          font-weight: 500;
          letter-spacing: .4px;
          color: rgba(#000, .4);
        }
      }
    }
  }

  &_generating {
    .speak {
      &__text {
        visibility: hidden;
      }

      &__button {
        &_play:before {
          background-image: url('./assets/svg/generating.svg');
          animation: rotating 1s linear infinite;
        }

        &_play:after {
          display: none;
        }

        &_restore {
          display: none;
        }
      }
    }
  }

  &_playing {
    .speak__button {
      &_play:before {
        width: 20px;
        height: 18px;
        background-image: url('./assets/svg/playing.svg');
      }

      &_play:after {
        display: none;
      }
    }
  }

  &_error {
    .speak__button {
      &_play:before {
        width: 14px;
        height: 14px;
        background-image: url('./assets/svg/error.svg');
        background-size: 100% 100%;
      }

      &_play:after {
        display: none;
      }
    }
  }

  & .sample_man-1 .sample__text_man-1,
  & .sample_man-2 .sample__text_man-2,
  & .sample_man-3 .sample__text_man-3,
  & .sample_woman-1 .sample__text_woman-1,
  & .sample_woman-2 .sample__text_woman-2,
  & .sample_woman-3 .sample__text_woman-3 {
    display: block;
  }

  & .sample_default + hr + .speak .speak__button_restore {
    display: none;
  }

  & .sample_modified + hr + .speak .speak__text {
    visibility: hidden;
  }

  @keyframes rotating {
    from {
      transform: rotate(-1deg);
    }

    to {
      transform: rotate(359deg);
    }
  }
}

@media (max-width: 991px) {
  .widget {
    .speak {
      flex-direction: column;
      align-items: center;

      &__label {
        margin: 4px 0 20px;
      }

      &__button_restore {
        left: calc(50% - 185px / 2);
        top: calc(50% - 36px / 2);
        right: auto;
      }
    }
  }
}